@import "./keyframes.scss";
@import "./fonts.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
}

#root {
  min-height: 100%;
}

p,
li {
  font-size: var(--font-size-large);
  margin: 0;
  margin-bottom: var(--spacing-large);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 900;
}

h1 {
  font-family: "Rubik", "Lato", sans-serif;
  font-style: italic;
  font-size: var(--font-size-xxlarge);
}

h2 {
  font-size: var(--font-size-xlarge);
}

h3 {
  font-size: var(--font-size-large);
}

a.inline-link {
  color: #138cbf;
  text-decoration: underline;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-large);

  thead {
    font-weight: 700;
  }

  tbody {
    font-weight: 300;
  }

  td {
    padding: var(--spacing-medium);
  }

  tr.emphasis {
    font-weight: 400;
  }
}

button {
  cursor: pointer;

  border: 1px solid;
  border-radius: var(--spacing-small);
  padding: var(--spacing-medium);

  font-size: var(--font-size-medium);

  background: $gray-dark-gradient;
  border-color: $gray-x-dark;
  color: white;

  transition: opacity 0.25s;

  &.secondary {
    background: $gold-gradient;
    text-shadow: 1px 1px $gold-dark;
    border-color: $gold-dark;
  }

  &.primary {
    background: $red-gradient;
    text-shadow: 1px 1px $red-dark;
    border-color: $red-dark;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.25;
  }
}

@media (max-width: 950px) {
  body,
  #root {
    min-height: 100%;
    height: auto;
  }
}
