// - Brand colours
$red-dark: hsl(0, 70%, 37%);
$red-light: hsl(0, 100%, 73%);

$red-gradient: linear-gradient(90deg, $red-dark, $red-light);

$gray-x-dark: hsl(0, 0%, 13%);
$gray-dark: hsl(0, 0%, 27%);

$gray-dark-gradient: linear-gradient(90deg, $gray-x-dark, $gray-dark);

$gray-light: hsl(0, 0%, 53%);
$gray-x-light: hsl(0, 0%, 93%);

$gold-dark: hsl(45, 100%, 30%);
$gold-light: hsl(45, 100%, 60%);

$gold-gradient: linear-gradient(90deg, $gold-dark, $gold-light);

// - Misc
$standard-box-shadow: 0 var(--spacing-small) var(--spacing-small) 0
  rgba(0, 0, 0, 0.75);

// Responsive
body {
  // - Spacing
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;

  // - Font sizes
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;

  // - Misc
  --min-card-width: 350px;

  // - Mobile
  @media screen and (max-width: 500px) {
    // - - Spacing
    --spacing-xxxlarge: 50px;
    --spacing-xxlarge: 40px;
    --spacing-xlarge: 20px;
    --spacing-large: 10px;
    --spacing-medium: 5px;
    --spacing-small: 2.5px;
    --spacing-xsmall: 1px;

    // - - Font sizes
    --font-size-small: 0.7rem;
    --font-size-medium: 0.8rem;
    --font-size-large: 1rem;
    --font-size-xlarge: 1.3rem;
    --font-size-xxlarge: 1.6rem;
    --font-size-xxxlarge: 2.3rem;

    // - - Misc
    --min-card-width: 300px;
  }
}
