// Brand colours
$red-dark: hsl(0, 70%, 37%);
$red-light: hsl(0, 100%, 73%);

$gray-x-dark: hsl(0, 0%, 13%);
$gray-dark: hsl(0, 0%, 27%);
$gray-light: hsl(0, 0%, 53%);
$gray-x-light: hsl(0, 0%, 93%);

$gold-dark: hsl(45, 100%, 30%);
$gold-light: hsl(45, 100%, 60%);

// Spacing

$spacing-xxx-large: 75px;
$spacing-xx-large: 50px;
$spacing-x-large: 40px;
$spacing-large: 20px;
$spacing-medium: 10px;
$spacing-small: 5px;
$spacing-x-small: 1px;

// Font sizes

$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.3rem;
$font-size-x-large: 2.3rem;
$font-size-xx-large: 3rem;

// Misc

$min-card-width: 350px;
$standard-box-shadow: 0 $spacing-small $spacing-small 0 rgba(0, 0, 0, 0.75);
