// Brand colours
$red-dark: #bb3333;
$red-light: #ff7777;

$grey-x-dark: #222222;
$grey-dark: #444444;
$grey-light: #888888;
$grey-x-light: #eeeeee;

$gold-dark: #cc9900;
$gold-light: #ffcc33;

// Spacing

$spacing-xxx-large: 75px;
$spacing-xx-large: 50px;
$spacing-x-large: 40px;
$spacing-large: 20px;
$spacing-medium: 10px;
$spacing-small: 5px;
$spacing-x-small: 1px;

// Font sizes

$font-size-small: 0.9rem;
$font-size-medium: 1rem;
$font-size-large: 1.3rem;
$font-size-x-large: 2.3rem;
$font-size-xx-large: 3rem;

// Misc

$standard-box-shadow: 0 $spacing-small $spacing-small 0 rgba(0, 0, 0, 0.75);
