@import "../theme/variables.scss";

.card {
  color: #000000;
  text-decoration: none;

  border: 1px solid $gray-light;
  border-radius: var(--spacing-small);

  background-color: #ffffff;

  padding: var(--spacing-large);
  min-width: var(--min-card-width);

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;

  > .main {
    flex-grow: 1;
    overflow: hidden;

    > .title {
      margin: 0;

      font-size: var(--font-size-large);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > .author {
      display: block;
      margin: 0;

      font-size: var(--font-size-medium);
    }
  }

  > i {
    color: $gray-x-dark;
    font-size: var(--font-size-xxlarge);

    margin-left: var(--spacing-large);
  }
}
