@import "../theme/variables.scss";

.card {
  border: 1px solid $gray-light;
  border-radius: var(--spacing-small);

  background-color: #ffffff;

  padding: var(--spacing-large);
  min-width: var(--min-card-width);

  cursor: pointer;

  display: flex;
  flex-direction: row;

  > .main {
    flex-grow: 1;

    > .title {
      margin: 0;

      font-size: var(--font-size-large);
    }
    > .author {
      display: block;
      margin: 0;

      font-size: var(--font-size-medium);
    }
  }

  > i {
    color: $gray-x-dark;
    font-size: var(--font-size-xlarge);

    margin-left: var(--spacing-large);
  }
}
