@import "../theme/variables.scss";

$dialog-width: 900px;
$dialog-height: 600px;

.dialog-overlay {
  background: rgba(0, 0, 0, 0.3);

  cursor: pointer;

  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;

  @media screen and (max-width: $dialog-width),
    screen and (max-height: $dialog-height) {
    cursor: auto;
  }

  > .dialog {
    width: $dialog-width;
    max-width: 100%;

    height: $dialog-height;
    max-height: 100%;

    border: 1px solid $gray-light;
    border-radius: var(--spacing-small);
    box-shadow: $standard-box-shadow;

    background-color: #ffffff;
    cursor: auto;

    display: flex;
    flex-direction: column;

    > .content {
      flex-grow: 1;

      display: flex;
      flex-direction: column;

      overflow: hidden;

      > .header {
        padding: var(--spacing-medium);
        border-bottom: 1px solid $gray-x-light;
      }
    }

    @media screen and (max-width: $dialog-width),
      screen and (max-height: $dialog-height) {
      border: none;
      border-radius: 0;

      height: 100%;
      width: 100%;
    }
  }
}
