@import "../theme/variables.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes enter {
  from {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
  }
}

.loading-spinner {
  height: 300px;
  &[data-inline="true"] {
    height: var(--font-size-large);
    display: inline;
    svg {
      path.gear {
        &.big {
          animation-duration: 2s;
          transform-origin: 20px 20px;
        }
        &.small {
          animation-duration: 1.5s;
          animation-direction: normal;
          transform-origin: 45px 38px;
        }
      }
    }
  }

  transition: opacity 0.25s;
  &[data-loading="false"] {
    opacity: 0.25;
  }
  &[data-loading="true"] {
    svg {
      g.rays,
      path.gear {
        animation-name: spin;
      }
    }
  }
  svg {
    height: 100%;
    width: auto;

    transform-origin: center;
    animation-name: enter;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    g.rays,
    path.gear {
      transform-origin: center;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    g.rays {
      animation-duration: 15s;
    }
    path.gear {
      animation-duration: 25s;
      animation-direction: reverse;
    }
  }
}
