@import "../theme/variables.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes enter {
  from {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.loading-spinner {
  svg {
    transform-origin: center;
    animation-name: enter;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    g.rays,
    path.gear {
      transform-origin: center;
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    g.rays {
      animation-duration: 15s;
    }
    path.gear {
      animation-duration: 25s;
      animation-direction: reverse;
    }
  }
}
