@import "../theme/variables.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  svg {
    g.rays,
    path.gear {
      transform-origin: center;
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    g.rays {
      animation-duration: 15s;
    }
    path.gear {
      animation-duration: 25s;
      animation-direction: reverse;
    }
  }
}
