@import "../../theme/variables.scss";

.home {
  display: flex;
  flex-direction: column;

  height: 100%;

  > .header {
    background: linear-gradient(90deg, $red-dark, $red-light);

    padding-top: $spacing-xxx-large;
    padding-bottom: 0;

    box-shadow: $standard-box-shadow;

    > h1 {
      color: white;
      -webkit-text-stroke: 3px $gray-x-dark;

      position: absolute;
      top: $spacing-x-large;
      left: $spacing-xx-large;
    }

    > .search-box {
      padding: $spacing-medium $spacing-xx-large;
      padding-top: $spacing-large;

      background: $gray-x-dark;

      > input {
        background-color: $gray-dark;
        color: white;

        border: none;
        border-radius: $spacing-small;

        width: 100%;
        height: $font-size-xx-large;
        font-size: $font-size-large;
        padding: $spacing-medium;

        box-shadow: $standard-box-shadow inset;
      }
    }
  }
  > .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    flex-grow: 1;
  }
}
