@import "../../theme/variables.scss";

@keyframes enter-card {
  0% {
    opacity: 0;
    transform: translate3d(calc(var(--spacing-medium) * -1), 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.home {
  display: flex;
  flex-direction: column;

  height: 100%;

  > .header {
    position: sticky;
    top: 0;

    background: $red-gradient;

    padding-top: var(--spacing-xxxlarge);
    padding-bottom: 0;

    box-shadow: $standard-box-shadow;

    z-index: 1;

    > h1 {
      color: white;
      -webkit-text-stroke: 3px $gray-x-dark;

      font-size: var(--font-size-xxxlarge);

      position: absolute;
      top: var(--spacing-xlarge);
      left: var(--spacing-xxlarge);
    }

    > .search-box {
      padding: var(--spacing-medium) var(--spacing-xxlarge);
      padding-top: var(--spacing-large);

      background: $gray-x-dark;

      > input {
        background-color: $gray-dark;
        color: white;

        border: none;
        border-radius: var(--spacing-small);

        width: 100%;
        height: var(--font-size-xxxlarge);
        font-size: var(--font-size-large);
        padding: var(--spacing-medium);

        box-shadow: $standard-box-shadow inset;
      }
    }
  }
  > .main {
    flex-grow: 1;

    padding: var(--spacing-xxlarge);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > .search-results {
      width: 100%;

      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(var(--min-card-width), 1fr)
      );
      grid-gap: var(--spacing-large);

      .card {
        $entry-duration: 0.125s;

        animation-fill-mode: both;
        animation-duration: $entry-duration;
        animation-name: enter-card;

        // 9 is the page size
        @for $i from 1 through 9 {
          &:nth-child(#{$i}) {
            animation-delay: ($i - 1) * $entry-duration * 0.5;
          }
        }
      }
    }

    > .pagination-controls {
      margin-top: var(--spacing-xlarge);

      display: flex;
      flex-direction: row;
      align-items: center;

      width: 250px;

      > button {
        flex-basis: 0;
        flex-grow: 1;
      }

      > .loading-spinner {
        height: 60px;
        margin: 0 var(--spacing-large);
      }
    }
  }
}
