@import "../../theme/variables.scss";
@import "./dialog.scss";

.view-book {
  flex-grow: 1;

  display: flex;
  flex-direction: row;

  overflow: hidden;

  > .aside {
    border-right: var(--spacing-xsmall) solid $red-dark;
    width: 250px;

    overflow: auto;

    > .aside-list {
      > .aside-item {
        cursor: pointer;

        display: block;
        color: #000000;
        text-decoration: none;

        padding: var(--spacing-medium);
        border-bottom: 1px solid $gray-x-light;

        overflow: hidden;

        > span {
          display: block;
          font-size: var(--font-size-small);

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.title {
            font-weight: 900;
          }
        }

        &.active {
          background: $red-gradient;
          color: #ffffff;

          border-color: transparent;
        }
      }
    }

    @media screen and (max-width: $dialog-width) {
      display: none;
    }
  }
  > .main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    > .book-details {
      flex-grow: 1;
      padding: var(--spacing-medium);

      > h2 {
        font-size: var(--font-size-large);
      }

      > .statuses {
        float: right;

        display: flex;
        flex-direction: column;

        > .status {
          text-align: center;
          margin-bottom: var(--spacing-large);

          i {
            color: $gray-x-dark;
            font-size: var(--font-size-xxlarge);
            margin-bottom: var(--spacing-small);
          }
          .description {
            font-size: var(--font-size-small);
          }
        }
      }

      > .author {
        margin-top: var(--spacing-medium);
      }
    }
    > .book-footer {
      padding: var(--spacing-small);
      border-top: 1px solid $gray-x-light;

      display: flex;
      justify-content: flex-end;

      > button {
        padding: var(--spacing-small);
      }
    }

    &.pending {
      align-items: center;
      justify-content: center;
    }
  }
}
