@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik:ital,wght@1,900&display=swap);
body {
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;
  --min-card-width: 350px; }
  @media screen and (max-width: 500px) {
    body {
      --spacing-xxxlarge: 50px;
      --spacing-xxlarge: 40px;
      --spacing-xlarge: 20px;
      --spacing-large: 10px;
      --spacing-medium: 5px;
      --spacing-small: 2.5px;
      --spacing-xsmall: 1px;
      --font-size-small: 0.7rem;
      --font-size-medium: 0.8rem;
      --font-size-large: 1rem;
      --font-size-xlarge: 1.3rem;
      --font-size-xxlarge: 1.6rem;
      --font-size-xxxlarge: 2.3rem;
      --min-card-width: 300px; } }

@keyframes enter-card {
  0% {
    opacity: 0;
    transform: translate3d(calc(var(--spacing-medium) * -1), 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .home > .header {
    position: sticky;
    top: 0;
    background: linear-gradient(90deg, #a01c1c, #ff7575);
    padding-top: var(--spacing-xxxlarge);
    padding-bottom: 0;
    box-shadow: 0 var(--spacing-small) var(--spacing-small) 0 rgba(0, 0, 0, 0.75);
    z-index: 1; }
    .home > .header > h1 {
      color: white;
      -webkit-text-stroke: 3px #212121;
      font-size: var(--font-size-xxxlarge);
      position: absolute;
      top: var(--spacing-xlarge);
      left: var(--spacing-xxlarge); }
    .home > .header > .search-box {
      padding: var(--spacing-medium) var(--spacing-xxlarge);
      padding-top: var(--spacing-large);
      background: #212121; }
      .home > .header > .search-box > input {
        background-color: #454545;
        color: white;
        border: none;
        border-radius: var(--spacing-small);
        width: 100%;
        height: var(--font-size-xxxlarge);
        font-size: var(--font-size-large);
        padding: var(--spacing-medium);
        box-shadow: 0 var(--spacing-small) var(--spacing-small) 0 rgba(0, 0, 0, 0.75) inset; }
  .home > .main {
    flex-grow: 1;
    flex-shrink: 0;
    padding: var(--spacing-xxlarge);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .home > .main.loading {
      justify-content: center; }
    .home > .main > .search-results {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(var(--min-card-width), 1fr));
      grid-auto-rows: 1fr;
      grid-gap: var(--spacing-large); }
      .home > .main > .search-results .card {
        animation-fill-mode: both;
        animation-duration: 0.125s;
        animation-name: enter-card; }
        .home > .main > .search-results .card:nth-child(1) {
          animation-delay: 0s; }
        .home > .main > .search-results .card:nth-child(2) {
          animation-delay: 0.0625s; }
        .home > .main > .search-results .card:nth-child(3) {
          animation-delay: 0.125s; }
        .home > .main > .search-results .card:nth-child(4) {
          animation-delay: 0.1875s; }
        .home > .main > .search-results .card:nth-child(5) {
          animation-delay: 0.25s; }
        .home > .main > .search-results .card:nth-child(6) {
          animation-delay: 0.3125s; }
        .home > .main > .search-results .card:nth-child(7) {
          animation-delay: 0.375s; }
        .home > .main > .search-results .card:nth-child(8) {
          animation-delay: 0.4375s; }
        .home > .main > .search-results .card:nth-child(9) {
          animation-delay: 0.5s; }
    .home > .main > .pagination-controls {
      flex-shrink: 0;
      margin-top: var(--spacing-xlarge);
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 300px; }
      .home > .main > .pagination-controls > button {
        flex-basis: 0;
        flex-grow: 1; }
      .home > .main > .pagination-controls > .loading-spinner {
        height: 60px;
        margin: 0 var(--spacing-large); }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed; }
  .footer > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #878787;
    font-weight: bold;
    font-size: var(--font-size-large);
    text-decoration: none;
    padding: var(--spacing-large);
    transition: color 0.125s; }
    .footer > a > .logo {
      height: var(--font-size-xlarge);
      width: auto;
      margin-right: var(--spacing-medium); }
      .footer > a > .logo > path {
        fill: #878787;
        transition: fill 0.125s; }
    .footer > a:hover {
      color: #0e8c73; }
      .footer > a:hover > .logo > path {
        fill: #0e8c73; }

body {
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;
  --min-card-width: 350px; }
  @media screen and (max-width: 500px) {
    body {
      --spacing-xxxlarge: 50px;
      --spacing-xxlarge: 40px;
      --spacing-xlarge: 20px;
      --spacing-large: 10px;
      --spacing-medium: 5px;
      --spacing-small: 2.5px;
      --spacing-xsmall: 1px;
      --font-size-small: 0.7rem;
      --font-size-medium: 0.8rem;
      --font-size-large: 1rem;
      --font-size-xlarge: 1.3rem;
      --font-size-xxlarge: 1.6rem;
      --font-size-xxxlarge: 2.3rem;
      --min-card-width: 300px; } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes enter {
  from {
    transform: rotateY(-90deg);
    opacity: 0; }
  to {
    transform: rotateY(0deg); } }

.loading-spinner {
  height: 300px;
  width: auto;
  transition: opacity 0.25s; }
  .loading-spinner[data-inline="true"] {
    height: var(--font-size-large);
    display: inline; }
    .loading-spinner[data-inline="true"] svg path.gear.big {
      animation-duration: 2s;
      transform-origin: 20px 20px; }
    .loading-spinner[data-inline="true"] svg path.gear.small {
      animation-duration: 1.5s;
      animation-direction: normal;
      transform-origin: 45px 38px; }
  .loading-spinner[data-loading="false"] {
    opacity: 0.25; }
  .loading-spinner[data-loading="true"] svg g.rays,
  .loading-spinner[data-loading="true"] svg path.gear {
    animation-name: spin; }
  .loading-spinner svg {
    height: 100%;
    width: auto;
    transform-origin: center;
    animation-name: enter;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
    .loading-spinner svg g.rays,
    .loading-spinner svg path.gear {
      transform-origin: center;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
    .loading-spinner svg g.rays {
      animation-duration: 15s; }
    .loading-spinner svg path.gear {
      animation-duration: 25s;
      animation-direction: reverse; }

body {
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;
  --min-card-width: 350px; }
  @media screen and (max-width: 500px) {
    body {
      --spacing-xxxlarge: 50px;
      --spacing-xxlarge: 40px;
      --spacing-xlarge: 20px;
      --spacing-large: 10px;
      --spacing-medium: 5px;
      --spacing-small: 2.5px;
      --spacing-xsmall: 1px;
      --font-size-small: 0.7rem;
      --font-size-medium: 0.8rem;
      --font-size-large: 1rem;
      --font-size-xlarge: 1.3rem;
      --font-size-xxlarge: 1.6rem;
      --font-size-xxxlarge: 2.3rem;
      --min-card-width: 300px; } }

.card {
  color: #000000;
  text-decoration: none;
  border: 1px solid #878787;
  border-radius: var(--spacing-small);
  background-color: #ffffff;
  padding: var(--spacing-large);
  min-width: var(--min-card-width);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  .card > .main {
    flex-grow: 1;
    overflow: hidden; }
    .card > .main > .title {
      margin: 0;
      font-size: var(--font-size-large);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .card > .main > .subtitle {
      display: block;
      margin: 0;
      font-size: var(--font-size-medium);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .card > .main > .author {
      display: block;
      margin: 0;
      margin-top: var(--spacing-medium);
      font-size: var(--font-size-medium);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .card > i {
    color: #212121;
    font-size: var(--font-size-xxlarge);
    margin-left: var(--spacing-large); }

body {
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;
  --min-card-width: 350px; }
  @media screen and (max-width: 500px) {
    body {
      --spacing-xxxlarge: 50px;
      --spacing-xxlarge: 40px;
      --spacing-xlarge: 20px;
      --spacing-large: 10px;
      --spacing-medium: 5px;
      --spacing-small: 2.5px;
      --spacing-xsmall: 1px;
      --font-size-small: 0.7rem;
      --font-size-medium: 0.8rem;
      --font-size-large: 1rem;
      --font-size-xlarge: 1.3rem;
      --font-size-xxlarge: 1.6rem;
      --font-size-xxxlarge: 2.3rem;
      --min-card-width: 300px; } }

.logo {
  overflow: visible; }

body {
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;
  --min-card-width: 350px; }
  @media screen and (max-width: 500px) {
    body {
      --spacing-xxxlarge: 50px;
      --spacing-xxlarge: 40px;
      --spacing-xlarge: 20px;
      --spacing-large: 10px;
      --spacing-medium: 5px;
      --spacing-small: 2.5px;
      --spacing-xsmall: 1px;
      --font-size-small: 0.7rem;
      --font-size-medium: 0.8rem;
      --font-size-large: 1rem;
      --font-size-xlarge: 1.3rem;
      --font-size-xxlarge: 1.6rem;
      --font-size-xxxlarge: 2.3rem;
      --min-card-width: 300px; } }

.details > .content > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

body {
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;
  --min-card-width: 350px; }
  @media screen and (max-width: 500px) {
    body {
      --spacing-xxxlarge: 50px;
      --spacing-xxlarge: 40px;
      --spacing-xlarge: 20px;
      --spacing-large: 10px;
      --spacing-medium: 5px;
      --spacing-small: 2.5px;
      --spacing-xsmall: 1px;
      --font-size-small: 0.7rem;
      --font-size-medium: 0.8rem;
      --font-size-large: 1rem;
      --font-size-xlarge: 1.3rem;
      --font-size-xxlarge: 1.6rem;
      --font-size-xxxlarge: 2.3rem;
      --min-card-width: 300px; } }

.dialog-overlay {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; }
  @media screen and (max-width: 900px), screen and (max-height: 600px) {
    .dialog-overlay {
      cursor: auto; } }
  .dialog-overlay > .dialog {
    width: 900px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    border: 1px solid #878787;
    border-radius: var(--spacing-small);
    box-shadow: 0 var(--spacing-small) var(--spacing-small) 0 rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
    cursor: auto;
    display: flex;
    flex-direction: column; }
    .dialog-overlay > .dialog > .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden; }
      .dialog-overlay > .dialog > .content > .header {
        padding: var(--spacing-medium);
        border-bottom: 1px solid #ededed; }
    @media screen and (max-width: 900px), screen and (max-height: 600px) {
      .dialog-overlay > .dialog {
        border: none;
        border-radius: 0;
        height: 100%;
        width: 100%; } }

body {
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;
  --min-card-width: 350px; }
  @media screen and (max-width: 500px) {
    body {
      --spacing-xxxlarge: 50px;
      --spacing-xxlarge: 40px;
      --spacing-xlarge: 20px;
      --spacing-large: 10px;
      --spacing-medium: 5px;
      --spacing-small: 2.5px;
      --spacing-xsmall: 1px;
      --font-size-small: 0.7rem;
      --font-size-medium: 0.8rem;
      --font-size-large: 1rem;
      --font-size-xlarge: 1.3rem;
      --font-size-xxlarge: 1.6rem;
      --font-size-xxxlarge: 2.3rem;
      --min-card-width: 300px; } }

.close-button {
  cursor: pointer;
  text-decoration: none;
  height: var(--font-size-xlarge);
  width: var(--font-size-xlarge); }
  .close-button svg {
    height: 100%;
    width: 100%; }
    .close-button svg path {
      stroke: #a01c1c; }

body {
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;
  --min-card-width: 350px; }
  @media screen and (max-width: 500px) {
    body {
      --spacing-xxxlarge: 50px;
      --spacing-xxlarge: 40px;
      --spacing-xlarge: 20px;
      --spacing-large: 10px;
      --spacing-medium: 5px;
      --spacing-small: 2.5px;
      --spacing-xsmall: 1px;
      --font-size-small: 0.7rem;
      --font-size-medium: 0.8rem;
      --font-size-large: 1rem;
      --font-size-xlarge: 1.3rem;
      --font-size-xxlarge: 1.6rem;
      --font-size-xxxlarge: 2.3rem;
      --min-card-width: 300px; } }

body {
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;
  --min-card-width: 350px; }
  @media screen and (max-width: 500px) {
    body {
      --spacing-xxxlarge: 50px;
      --spacing-xxlarge: 40px;
      --spacing-xlarge: 20px;
      --spacing-large: 10px;
      --spacing-medium: 5px;
      --spacing-small: 2.5px;
      --spacing-xsmall: 1px;
      --font-size-small: 0.7rem;
      --font-size-medium: 0.8rem;
      --font-size-large: 1rem;
      --font-size-xlarge: 1.3rem;
      --font-size-xxlarge: 1.6rem;
      --font-size-xxxlarge: 2.3rem;
      --min-card-width: 300px; } }

.dialog-overlay {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; }
  @media screen and (max-width: 900px), screen and (max-height: 600px) {
    .dialog-overlay {
      cursor: auto; } }
  .dialog-overlay > .dialog {
    width: 900px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    border: 1px solid #878787;
    border-radius: var(--spacing-small);
    box-shadow: 0 var(--spacing-small) var(--spacing-small) 0 rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
    cursor: auto;
    display: flex;
    flex-direction: column; }
    .dialog-overlay > .dialog > .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden; }
      .dialog-overlay > .dialog > .content > .header {
        padding: var(--spacing-medium);
        border-bottom: 1px solid #ededed; }
    @media screen and (max-width: 900px), screen and (max-height: 600px) {
      .dialog-overlay > .dialog {
        border: none;
        border-radius: 0;
        height: 100%;
        width: 100%; } }

.view-book {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden; }
  .view-book > .aside {
    border-right: var(--spacing-xsmall) solid #a01c1c;
    width: 250px;
    overflow: auto; }
    .view-book > .aside > .aside-list > .aside-item {
      cursor: pointer;
      display: block;
      color: #000000;
      text-decoration: none;
      padding: var(--spacing-medium);
      border-bottom: 1px solid #ededed;
      overflow: hidden; }
      .view-book > .aside > .aside-list > .aside-item > span {
        display: block;
        font-size: var(--font-size-small);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .view-book > .aside > .aside-list > .aside-item > span.title {
          font-weight: 900; }
      .view-book > .aside > .aside-list > .aside-item.active {
        background: linear-gradient(90deg, #a01c1c, #ff7575);
        color: #ffffff;
        border-color: transparent; }
    @media screen and (max-width: 900px) {
      .view-book > .aside {
        display: none; } }
  .view-book > .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    .view-book > .main > .book-details {
      flex-grow: 1;
      padding: var(--spacing-medium); }
      .view-book > .main > .book-details > h2 {
        font-size: var(--font-size-large); }
      .view-book > .main > .book-details > .statuses {
        float: right;
        display: flex;
        flex-direction: column; }
        .view-book > .main > .book-details > .statuses > .status {
          text-align: center;
          margin-bottom: var(--spacing-large); }
          .view-book > .main > .book-details > .statuses > .status i {
            color: #212121;
            font-size: var(--font-size-xxlarge);
            margin-bottom: var(--spacing-small); }
          .view-book > .main > .book-details > .statuses > .status .description {
            font-size: var(--font-size-small);
            margin-bottom: 0; }
      .view-book > .main > .book-details > .author {
        margin-top: var(--spacing-medium); }
    .view-book > .main > .book-footer {
      padding: var(--spacing-small);
      border-top: 1px solid #ededed;
      display: flex;
      justify-content: flex-end; }
      .view-book > .main > .book-footer > button {
        padding: var(--spacing-small); }
    .view-book > .main.pending {
      align-items: center;
      justify-content: center; }

body {
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;
  --min-card-width: 350px; }
  @media screen and (max-width: 500px) {
    body {
      --spacing-xxxlarge: 50px;
      --spacing-xxlarge: 40px;
      --spacing-xlarge: 20px;
      --spacing-large: 10px;
      --spacing-medium: 5px;
      --spacing-small: 2.5px;
      --spacing-xsmall: 1px;
      --font-size-small: 0.7rem;
      --font-size-medium: 0.8rem;
      --font-size-large: 1rem;
      --font-size-xlarge: 1.3rem;
      --font-size-xxlarge: 1.6rem;
      --font-size-xxxlarge: 2.3rem;
      --min-card-width: 300px; } }

.dialog.ask-to-borrow {
  height: auto;
  width: 500px; }
  .dialog.ask-to-borrow > .content > .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  .dialog.ask-to-borrow > .content > .main {
    flex-grow: 1;
    overflow: hidden;
    padding: var(--spacing-medium); }
    .dialog.ask-to-borrow > .content > .main .captcha {
      display: block;
      border: 1px solid black;
      margin: 0;
      margin-top: var(--spacing-xlarge);
      margin-bottom: var(--spacing-medium);
      width: 200px;
      height: 100px; }
    .dialog.ask-to-borrow > .content > .main .get-new-captcha {
      margin-bottom: var(--spacing-medium); }
    .dialog.ask-to-borrow > .content > .main label,
    .dialog.ask-to-borrow > .content > .main input {
      display: block;
      margin-bottom: var(--spacing-medium); }
    .dialog.ask-to-borrow > .content > .main input {
      width: 100%; }
    .dialog.ask-to-borrow > .content > .main .submit {
      margin-top: var(--spacing-xlarge);
      display: flex;
      flex-direction: row;
      align-items: center; }
      .dialog.ask-to-borrow > .content > .main .submit button {
        flex-grow: 1; }
      .dialog.ask-to-borrow > .content > .main .submit .loading-spinner {
        height: var(--font-size-xxlarge);
        margin-left: var(--spacing-medium); }

@keyframes rotate-in {
  0% {
    transform: translateY(100px) rotateX(90deg);
    opacity: 0; }
  25% {
    transform: translateY(100px) rotateX(90deg);
    opacity: 1; }
  100% {
    transform: rotateX(0); } }

@keyframes rotate-in-children {
  0% {
    transform: rotateX(-90deg); }
  25% {
    transform: rotateX(-90deg); }
  100% {
    transform: rotateX(0deg); } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  --spacing-xxxlarge: 75px;
  --spacing-xxlarge: 50px;
  --spacing-xlarge: 40px;
  --spacing-large: 20px;
  --spacing-medium: 10px;
  --spacing-small: 5px;
  --spacing-xsmall: 2.5px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.9rem;
  --font-size-xxlarge: 2.3rem;
  --font-size-xxxlarge: 3rem;
  --min-card-width: 350px; }
  @media screen and (max-width: 500px) {
    body {
      --spacing-xxxlarge: 50px;
      --spacing-xxlarge: 40px;
      --spacing-xlarge: 20px;
      --spacing-large: 10px;
      --spacing-medium: 5px;
      --spacing-small: 2.5px;
      --spacing-xsmall: 1px;
      --font-size-small: 0.7rem;
      --font-size-medium: 0.8rem;
      --font-size-large: 1rem;
      --font-size-xlarge: 1.3rem;
      --font-size-xxlarge: 1.6rem;
      --font-size-xxxlarge: 2.3rem;
      --min-card-width: 300px; } }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0; }

#root {
  min-height: 100vh; }

p,
li {
  font-size: var(--font-size-large);
  margin: 0;
  margin-bottom: var(--spacing-large); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 900; }

h1 {
  font-family: "Rubik", "Lato", sans-serif;
  font-style: italic;
  font-size: var(--font-size-xxlarge); }

h2 {
  font-size: var(--font-size-xlarge); }

h3 {
  font-size: var(--font-size-large); }

a.inline-link {
  color: #138cbf;
  text-decoration: underline;
  font-weight: 400; }

table {
  border-collapse: collapse;
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-large); }
  table thead {
    font-weight: 700; }
  table tbody {
    font-weight: 300; }
  table td {
    padding: var(--spacing-medium); }
  table tr.emphasis {
    font-weight: 400; }

button {
  cursor: pointer;
  font-size: var(--font-size-medium);
  transition: opacity 0.25s; }
  button.inline {
    background-color: transparent;
    color: black;
    text-decoration: underline;
    padding: 0;
    border: none; }
    button.inline.secondary {
      color: #997300; }
    button.inline.primary {
      color: #a01c1c; }
  button:not(.inline) {
    border: 1px solid;
    border-radius: var(--spacing-small);
    padding: var(--spacing-medium);
    background: linear-gradient(90deg, #212121, #454545);
    border-color: #212121;
    color: white; }
    button:not(.inline).secondary {
      background: linear-gradient(90deg, #997300, #ffcc33);
      text-shadow: 1px 1px #997300;
      border-color: #997300; }
    button:not(.inline).primary {
      background: linear-gradient(90deg, #a01c1c, #ff7575);
      text-shadow: 1px 1px #a01c1c;
      border-color: #a01c1c; }
  button:disabled {
    cursor: not-allowed;
    opacity: 0.25; }

@media (max-width: 950px) {
  body,
  #root {
    min-height: 100%;
    height: auto; } }

